@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url("../images/garage.jpg");
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Indie Flower', cursive;
    color: #ffffff;
}
h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 5rem;
}

#game {
    margin: 0px auto;
    width: 900px; 
}

#cards {
    z-index: 1;
	margin: 10px 0 0;
}

#cards div {
    float: left;
	width: 150px;
	height: 100px;
	margin: 5px;
	padding: 5px;
	border: 3px solid #ffffff;
	cursor: pointer;
	border-radius: 10px;
    
    background-image: url(../images/front.png);
    background-size: cover;
}

#cards div:hover {
    border: 3px solid #827d6b;
}

#game div img {
    display: none;
	border-radius: 10px;
	z-index: 3;
    background-size: cover;
}

#gamebuttons {
    text-align: center;
	margin: 30px;
	display: block;
}

#gamebuttons .button{
    text-transform: uppercase;
	background: #ffff00;
	margin: 5px;
	cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    color:violet;
}